body{
    background-color: black !important;
    color: white !important;
    font-family: 'Calibri';
    font-size: 18px;
}
.title1
{
    padding-top: 25px;
    font-size:  large;
}
.title2
{
    padding-top: 5px;
    font-size: medium;
}
.kpi_list
{
    padding-top: 50px;
}
.ctnAlert
{
    height: 200px;
    min-height: 200px;
}
.drone
{
  background-image: url('../img/drone_4.png');
  background-size: cover;
  background-position: center;
  width: 383px;
  height: 184px;
}
.vidoeTitle
{
    color: #355222;
    font-style: italic;
}
.kpi_list
{
    width: 50%;
}
.kpi_item
{
    border-color: gray;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    margin-top: 5px;
}
.kpi_value
{
    text-align: right;
}